{% extends "event1.html" %}
{% block content %}

{% for info in info_list %}


<div class="col-md-4 portfolio-item">
                 
                     <img src={{info.photoUrl}}  class="img-rounded" alt="Cinque Terre" width="104" height="86"/></p> 
                 
                <h3>
                    <a href="#">{{ info.title}}</a>
                </h3>
                <p> on {{info.start_time}}</p>
		  <p>	{{info.owner_name|safe|linebreaks}} </p>
            </div>


{% endfor %}
{% endblock %}