{% extends "event1.html" %}
<!DOCTYPE html>
{% load staticfiles %}
{% block content %}

{% for info in info_list %}
<div  class="col-md-4 portfolio-item">
        <img src={{info.photoUrl}}  class="img-rounded" alt="Cinque Terre" width="320" height="120"/></p> 
		<h3 style="height:26px; display:block; overflow:hidden;" ><a href="/event/{{info.eventsID}}">{{ info.title}}</a></h3>
		<p> on {{info.start_time}}</p>
		<p>{{info.owner_name|safe|linebreaks}} </p>
		
</div>
{% endfor %}
{% endblock %}




{% block categorysearch %}
<div id="navbar" class="navbar-collapse collapse">
				 <ul class="nav navbar-nav">
					
					{% if  cat_list %}
					<li class="dropdown">
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Κατηγορίες <span class="caret"></span></a>
					  <ul class="dropdown-menu" aria-labelledby="themes">
						
						{% for info in cat_list %}
						<li><a href="/cat/{{info}}/">{{info}}</a></li>

						{% endfor %}
						
					  </ul>
					</li>
					{% endif %}
				 </ul>
				<form class="navbar-form pull-left" role="search" action="/search" method="get">
					<div class="input-group">
					   <input type="text" name="user_search" class="form-control" placeholder="Αναζήτηση">
						<div class="input-group-btn">
						  <button type="submit" name="mysubmit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
				</form>
				<form class="rss_categ" method="get" action="/rss">
					{% if  cat_list %}
					<div class="button-group"  style="position:relative; float:right; margin-top:10px;">
						<button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span>
							
							ΔΗΜΙΟΥΡΓΙΑ RSS	
							<span class="caret"></span>
						</button>
					
							<ul class="dropdown-menu-checkbox dropdown-menu">
								  {% for info in cat_list %}
								  <li><a href="#" class="small"><input  class="popup_checkbox" type="checkbox" value="{{info}}"/>&nbsp;{{info}}</a></li>
									{% endfor %}
								  <li style="text-align:center;" ><button type="submit"  class="btn btn-default popup_submit" >Submit</button></li>
							</ul>
					  
					</div>
					{% endif %}
				</form>
				<!--<div>
					<a href="{% static 'events.xml' %}">
					<img src="http://www.w3schools.com/webservices/rss.gif" width="36" height="14">
					
					</a>. 
				</div>  -->
				
</div><!--/.navbar-collapse -->
{% endblock %}