<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PartaEvents</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
	
	<!-- Datepicker-->
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">

	  <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU6FjOMEiGHpolpYDmEJV6pTE27f7J5uA">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center:new google.maps.LatLng(38.242, 21.733),
          zoom: 17
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
			
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
	
</head>

<body   style="background: url({% static 'images/back1.jpg' %}) 50% 0px / cover no-repeat fixed;" >

    <!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">PartaEvents</a> 
			</div>
		
			{% block categorysearch %}
			{% endblock %}
			
			
      </div>
    </nav>

    <!-- CAROUSEL -->
	<div class="container-fluid">
		<div class="row">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
 
		<!-- Wrapper for slides -->
		  <div class="carousel-inner">
			<div class="item active">
			  <img src="{% static 'images/party1.jpg' %}" style="width:100%; display:block;" alt="...">
			  <div class="carousel-caption">
				  <h3>Μπες</h3>
			  </div>
			</div>
			<div class="item">
			  <img src="{% static 'images/party2.jpg' %}"style="width:100%;" alt="...">
			  <div class="carousel-caption">
				  <h3>Δες</h3>
			  </div>
			</div>
			<div class="item">
			  <img src="{% static 'images/party3.jpg' %}"style="width:100%;" alt="...">
			  <div class="carousel-caption">
				  <h3>Βγες</h3>
			  </div>
			</div>
		  </div>
		 
		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		  </a>
		 </div>	 
		</div> <!-- Carousel -->
	</div>
	<p></p>
	
	
	<div style ="margin-top:30px;" class="container">
      		<div class="row">
			
				<div class="col-md-1"  style="text-align:center; border:4px solid #DEDEDE;border-radius:10px;background:#E5E5E5; padding-left:10px; padding-right:10px;">

					<form id="datesearch" role='search' action="/datesearch/" method="get"> 
						<div  style="text-align:left;">
							<strong>Start Date </strong> <input style="width:100%;" name="startDate" id="start" class="datepicker" type ="text" name="date">


							<strong>End  Date </strong> <input style="width:100%;" name="endDate" id="end" class="datepicker" type ="text" name="date">
							<p></p>
							<button type="submit" class="btn btn-info">Search</button>
						</div>
					</form>

				</div>
				<div class="col-md-11">
				
				{% block content %}	
				{% endblock %}
				</div>
			</div>
			
	</div>	 
       
	
    
       
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy;CeidProject</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
   
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  
    <!-- Bootstrap Core JavaScript -->
     
	  <script src="{% static 'js/main.js' %} "></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"> </script>
	<script>
		$(function(){
			$('.datepicker').datepicker();
		  if ($(".dropdown-menu-checkbox").on("click", function(e){
        
        e.preventDefault();

        return false;

      }));
	  $(".popup_checkbox").on("click", function(e){

        e.stopPropagation();

      });
	  $(".popup_submit").on("click", function(e){

        var cats = "";

        $(".popup_checkbox").each(function (i){
          if ($(this).is(":checked")){
            cats += $(this).attr("value") + ",";
          }
        });

       // var url = $(".rss_categ").attr("action");

           var cats2 = cats.substring(0, cats.length -1);

        $(".rss_categ").attr("action", "/rss/" + cats2);
		 
        e.stopPropagation();

      });
			});
			
	</script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	 
</body>


</html>
