<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>PartaEvents</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	
    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
	
	<!-- Datepicker-->
 <style>
      .FixedHeightContainer
{
  float:right;
  height: 370px;
  width:100%; 
 
  
}
.Content
{
  height:100%;
   overflow:auto;

}
</style>
 
	
</head>

<body background="{% static 'images/background.jpg' %}">

    <!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">PartaEvents</a> 
			</div>
		
			{% block categorysearch %}
			{% endblock %}
			
			
      </div>
    </nav>
    
			<hr>

	<div class="container" style="text-align:center; " >
      		
					<div style="text-align:center; margin-bottom:20px;">
						<hr>
				{% for info in info_list %}
				<img  src={{info.photoUrl}} align ="middle" class="img-rounded" alt="Could not load image" style ="max-width:100%;"/></p> 
				<div style="text-align:center; ">

							<div  class="thumbnail"  style="text-align:center; width:800px; display:block; margin:0 auto;  border:4px solid #DEDEDE;border-radius:10px ;background:#EDEDEC; padding-left:10px; padding-right:10px;">
								
									 <h4><strong>{{ info.title}}</strong></h4>
									<p> on {{info.start_time}}</p>
									<p> Διοργανωτής : {{info.owner_name}} </p>
									
									
							</div>
							<hr>
						<div class = "container" style="text-align:left; "  >
							<div class="row">
								<div class="col-md-5"  style="float:left;  text-align:center; border:4px solid #DEDEDE;border-radius:10px;background:#E5E5E5; padding-left:10px; padding-right:1px;">
									<div height="overflow:auto;" style="text-align:left;">
									
									<div class="FixedHeightContainer">
									  <div class="Content">
										<p style="height:100%;" >{{info.description}}</p>
										  </div>
									</div>
									</div>
								
					
								</div>
									<div class="col-md-7" style="text-align:center; float:left; padding-top:1px;">
									
									<!-- map container -->			
									<div   id="map-canvas" style="width:500px;height:380px;">
									</div>
									 
									
									</div>
							</div>
						
						</div>
						</div>
						{% endfor %}

					</div>
			

			
	</div>	 
      
	


    
        <!-- Pagination 
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div> -->

        <!-- /.row -->

      

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>&copy;CeidProject</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
   
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  
    <!-- Bootstrap Core JavaScript -->
     <script src="{% static 'js/bootstrap.min.js' %}"></script>
	  
      <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU6FjOMEiGHpolpYDmEJV6pTE27f7J5uA">
    </script>
    <script type="text/javascript">
	{% for info in info_list %}
	if ({{info.latitude}} != 0.0 && {{info.longitude}} != 0.0){
	var myCenter=new google.maps.LatLng({{info.latitude}},{{info.longitude}});
		{{info.latitude}}
      function initialize() {
        var mapOptions = {
          center:new google.maps.LatLng({{info.latitude}},{{info.longitude}}),
          zoom: 15
        };
		<!-- Create a Map Object -->
        var map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
		var marker=new google.maps.Marker({
			position:myCenter,
			  animation:google.maps.Animation.BOUNCE
  
		});

	marker.setMap(map);
	
	var infowindow = new google.maps.InfoWindow({
  content:" {{info.owner_name}}"
  });
google.maps.event.addListener(marker, 'click', function() {
  infowindow.open(map,marker);
  });
}
	  <!-- Add Event Listener to Load Map -->
      google.maps.event.addDomListener(window, 'load', initialize);
	  }
	 {% endfor %}
    </script>
      
      
      
	 
	 
</body>


</html>
